* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    padding: 0;

    background: var(--color-background);
    color: var(--color-text);

    font-family: var(--font-ar);

    direction: rtl;
}

h1 {
    text-align: center;
    margin-top: 100px;
    color: var(--color-primary);
}

.hero {
    min-height: 100vh;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    text-align: center;

    padding: 20px;
}

.hero h1 {
    font-size: 64px;
    color: var(--color-primary);

    margin-bottom: 20px;
}

.hero p {
    font-size: 24px;
    color: var(--color-text-light);

    max-width: 700px;
}
.hero-description {
    max-width: 750px;
    margin-top: 20px;

    font-size: 18px;
    line-height: 1.8;

    color: var(--color-text);
}

.btn-primary {
    display: inline-block;

    margin-top: 35px;
    padding: 16px 36px;

    background: var(--color-primary);
    color: #ffffff;

    text-decoration: none;

    border-radius: var(--border-radius);

    font-weight: 600;

    transition: 0.3s;
}

.btn-primary:hover {
    background: var(--color-secondary);
}