/* ==========================================
   Design Tokens
========================================== */

:root {

    /* Colors */

    --primary: #1b1464;
    --primary-dark: #103aaf;
    --primary-light: #8d9096;

    --secondary: #1b1464;

    --text: #1b1464;
    --text-light: #1b1464;

    --background: #f8fafc;
    --white: #ffffff;
    --border: #e2e8f0;

    /* Typography */

    --font-family: "Cairo", sans-serif;

    /* Radius */

    --radius-sm: 8px;
    --radius-md: 12px;
    --radius-lg: 20px;

    /* Shadows */

    --shadow-sm: 0 5px 15px rgba(0,0,0,.06);

    --shadow-md: 0 10px 30px rgba(0,0,0,.08);

    --shadow-lg: 0 20px 50px rgba(0,0,0,.12);

    /* Transition */

    --transition: .3s ease;

}